@{
    ViewData["Title"] = "Бальная Элегантность. О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalStyles {
    <link rel="stylesheet" href="~/styles/about_us.css" />
}

<main>
    <div class="about-us-welcome">
        <h1>Бальная Элегантность Москва, Санкт-Петербург, Казань</h1>
        <p>Наши магазины расположены: Москва, Санкт-Петербург, Казань</p>
        <p>Мы предлагаем широкий ассортимент элегантной одежды для бальных танцев, сочетая комфорт и стиль для идеального выступления.</p>
    </div>

    <section class="dealer-center">
        <h2 class="dealer-center-header">Бальная Элегантность Москва</h2>
        <p>
            <b>Магазин открылся в январе 2020 г.,<br />расположен по адресу: 101000, Россия, Москва, ул. Танцевальная, 10</b>
        </p>
        <p class="dealer-center-contacts">
            Телефон +7 (495) 123-45-67. Email: info@balet-elegant.ru
        </p>
        <img class="dealer-center-img" src="~/img/shops/shop_moscow.webp" alt="Фасад магазина Бальная Элегантность в Москве" />
    </section>

    <section class="dealer-center">
        <h2 class="dealer-center-header">Бальная Элегантность Санкт-Петербург</h2>
        <p>
            <b>Магазин открылся в июле 2018 года,<br />расположен по адресу: 190000, Россия, Санкт-Петербург, ул. Бальная, 20</b>
        </p>
        <p class="dealer-center-contacts">
            Телефон +7 (812) 234-56-78. Email: info@balet-elegant.spb.ru
        </p>
        <img class="dealer-center-img" src="~/img/shops/shop_piter.webp" alt="Фасад магазина Бальная Элегантность в Санкт-Петербурге" />
    </section>

    <section class="dealer-center">
        <h2 class="dealer-center-header">Бальная Элегантность Казань</h2>
        <p>
            <b>Магазин открылся в мае 2019 года,<br />расположен по адресу: 420102, Россия, Казань, ул. Искусств, 30</b>
        </p>
        <p class="dealer-center-contacts">
            Телефон +7 (843) 345-67-89. Email: info@balet-elegant.kzn.ru
        </p>
        <img class="dealer-center-img" src="~/img/shops/shop_kazan.webp" alt="Фасад магазина Бальная Элегантность в Казани" />
    </section>
</main>
