@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="product-category">
        <h1 class="category-title">Одежда для бальных танцев: женский ассортимент</h1>
        <div class="product-description-container">
            <img src="~/img/lady_1.png" alt="Пример женского танцевального образа" class="product-image" />
            <article class="product-description">
                <h2>ИЗЫСКАННЫЕ ДИЗАЙНЫ ДЛЯ ТАНЦЕВ</h2>
                <div>
                    Наши элегантные и стильные платья созданы для того, чтобы идеально подчеркнуть грацию, изящество и утонченность каждой танцовщицы.
                    Изготовленные из высококачественных, долговечных и комфортных тканей, они обеспечивают полную свободу движений, необходимую для совершенного исполнения танцевальных номеров.
                    Эти платья отличаются не только прекрасным внешним видом, но и продуманной конструкцией, которая идеально подчеркивает фигуру и позволяет чувствовать себя уверенно и комфортно.
                    В нашем разнообразном ассортименте вы найдете множество фасонов и расцветок, которые подойдут как для классических танцев, так и для современных бальных номеров, а также для самых различных выступлений и мероприятий, требующих исключительного стиля и элегантности.
                </div>
            </article>
        </div>

        <div class="product-gallery">
            <h2 class="gallery-title">Женский ассортимент</h2>
            <ul class="product-items">
                <li><img src="~/img/bodi_1.jpg" alt="Боди" class="model-img" /></li>
                <li><img src="~/img/yubka_1.jpg" alt="Юбки" class="model-img" /></li>
                <li><img src="~/img/tufly_1.jpg" alt="Туфли" class="model-img" /></li>
            </ul>
            <a href="@Url.Action("Catalog", "Home")" class="all-models-btn">ОДЕЖДА ДЛЯ ЖЕНЩИН</a>
        </div>
    </section>

    <br>

    <section class="product-category">
        <h1 class="category-title">Одежда для бальных танцев: мужской ассортимент</h1>
        <div class="product-description-container">
            <img src="~/img/man_1.png" alt="Пример мужского танцевального образа" class="product-image" />
            <article class="product-description">
                <h2>СТИЛЬ И КОМФОРТ В КАЖДОЙ ДЕТАЛИ</h2>
                <div>
                    Наши костюмы для пар разработаны с учётом всех тонкостей и нюансов бальных танцев, что гарантирует идеальную посадку и максимальное удобство во время самых сложных и динамичных движений.
                    Они гармонично сочетают в себе современный, стильный дизайн и традиционные элементы, что позволяет сохранить элегантность и классику, не теряя при этом актуальности и модных тенденций.
                    Эти костюмы созданы для того, чтобы подчеркнуть индивидуальность каждой пары, акцентируя внимание на их гармонии и единстве, что особенно важно для успеха на паркете.
                    В нашем широком и разнообразном ассортименте вы найдёте модели, которые идеально подойдут для любых танцевальных стилей и помогут добавить уверенности в каждом выступлении, делая его незабываемым.
                </div>
            </article>
        </div>
        <div class="product-gallery">
            <h2 class="gallery-title">Мужской ассортимент</h2>
            <ul class="product-items">
                <li><img src="~/img/rubashka_1.jpg" alt="Рубашка" class="model-img" /></li>
                <li><img src="~/img/bryuki_1.jpg" alt="Брюки" class="model-img" /></li>
                <li><img src="~/img/tufli_1.jpg" alt="Туфли" class="model-img" /></li>
            </ul>
            <a href="@Url.Action("Catalog", "Home")" class="all-models-btn">ОДЕЖДА ДЛЯ МУЖЧИН</a>
        </div>
    </section>
</main>
