.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.product-page {
    margin: 45px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
}

.product-characteristics, .product-characteristics td,
.product-characteristics th{
    text-align: center;
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
}

.product-image-box {
    display: flex;
    justify-content: center;
}

.product-main-image {
    width: 40%;
    min-width: 500px;
    border-radius: 5%;
}

.product-title-box {
    width: 100%;
    height: 90%;
}

.product-title {
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

.product-price {
    color: #8a2be2;
    font-size: 24px;
    font-weight: bold;
}

.product-parameters-list {
    padding: 0;
    list-style: none;
}

.product-parameter {
    margin-bottom: 20px;
    color: #555;
}

.product-parameter-value {
    color: #333;
}

.product-submit-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #8a2be2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.product-submit-btn:hover {
    background-color: #7a1bd2;
}

.description-title {
    margin: 40px -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/modelLine.jpg");
    height: 60px;
    color: white;
    border-radius: 5px;
}

.product-characteristics {
    width: 30%;
    margin-bottom: 20px;
    margin-top: 50px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #8a2be2;
    font-size: 15px;
    background: #fff!important;
}

.product-characteristics th {
    font-weight: bold;
    padding: 5px;
    background: #8a2be2;
    color: white;
    text-transform: uppercase;
    border: none;
    text-align: center;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #8a2be2;
    vertical-align: center;
}

.product-characteristics td {
    text-align: center;
    padding: 10px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}

.product-characteristics tbody tr:nth-child(even){
    background: #f8f8f8!important;
}
